{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row g-0">
      <div class="card col-md-8 offset-md-2 shadow-sm p-3 mb-5 bg-body rounded">
          <div class="card-body">
              <h4 class="card-title">{% trans "Log Out" %}</h4>
              <p class="card-text">{% trans 'Are you sure you want to log out from Cosmos?' %}</p>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <a href="{% url 'home' %}" class="btn btn-dark">Stay Put</a>
              <button type="submit" class="btn btn-dark">{% trans 'Log Out' %}</button>
            </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
