@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat+Subrayada&family=Quicksand:wght@300;400&display=swap');
/*Imported fonts from Google Fonts:
font-family: 'Modak', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Quicksand', sans-serif;*/

footer {
    min-height: 120px;
    background-color: aqua;
}

a {
    font-size: 50px;
    text-decoration: none;
    color: black;
}

#footer-icons i {
    font-size: 30px;
}