@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat+Subrayada&family=Quicksand:wght@300;400&display=swap');
/*Imported fonts from Google Fonts:
font-family: 'Modak', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Quicksand', sans-serif;*/

body {
    background-color: rgb(252, 251, 255);
    /*background-image: url(https://res.cloudinary.com/elistr/image/upload/v1645866390/pexels-felix-mittermeier-956981_2_bs7jpj.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    font-family: 'Quicksand', sans-serif;
}

img {
    max-height: 500px;
    width: 100%;
    border-radius: 5px;
}

.logo {
    font-family: 'Modak', cursive;
    font-size: 60px;
}

.post-title {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    color: black;
}

.padd-round {
    padding: 5px;
}

/* Navbar styles */
nav li {
    font-size: 20px;
}

#main-nav a,
#category-nav a {
    color: #03010e;
}

#category-nav {
    min-height: 40px;
    margin-bottom: 10px;
}

#category-nav li {
    font-size: 15px;
}

/* Heroimage on 'home' page */
#hero-image {
    /* animates zoom eeffect on loading page */
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* created the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}

/* Footer styles */
footer {
    margin-top: auto;
    min-height: 120px;
    background-color: #0A042A;
}

footer a {
    font-size: 50px;
    text-decoration: none;
}

#footer-icons i {
    font-size: 30px;
}

/* Post detail styles */
#title-post {
    font-family: 'Montserrat Subrayada', sans-serif;
}

.detail-body {
    background-color: rgb(252, 251, 255);
}


/* Buttons */

#crud-btn {
    margin: 10px auto;
}

#crud-btn a {
    text-decoration: none;
    color: #0A042A;
    margin-top: 5px;
}

#page-btn a {
    color: #1e164b;
    text-decoration: none;
}

#page-btn a:hover {
    background-color: #e92f00;
    color: #fff;
    text-decoration: none;
}

#btn-like {
    border: none;
    background: transparent;
}

#btn-like:hover,
#btn-like:active {
    background: transparent;
    border: none;
}