@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat+Subrayada&family=Quicksand:wght@300;400&display=swap');
/*Imported fonts from Google Fonts:
font-family: 'Modak', cursive;
font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Quicksand', sans-serif;*/

body {
    background-color: #0A042A;
    font-family: 'Quicksand', sans-serif;
}

img {
    max-height: 500px;
    width: 100%;
    border-radius: 5px;
}

.logo {
    font-family: 'Modak', cursive;
    font-size: 40px;
}

.post-title {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    color: black;
}

.padd-round {
    padding: 5px;
}

/* Navbar styles */
nav li {
    font-size: 20px;
}

#main-nav,
#category-nav,
footer {
    background-color: #0A042A;
}

#main-nav a {
    color: #fff;
}

#category-nav {
    min-height: 40px;
    margin-bottom: 10px;
}

#category-nav li {
    font-size: 15px;
}

.nav-bg {
    color: #fff;
}

#category-nav a {
    color: #0A042A;
}

/* Footer styles */
footer {
    margin-top: auto;
    min-height: 120px;
}

footer a {
    font-size: 50px;
    text-decoration: none;
}

#footer-icons i {
    font-size: 30px;
}

/* Post detail styles */
#title-post {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #fff;
}


/* Buttons */

#crud-btn {
    margin: 10px auto;
}

#crud-btn a {
    text-decoration: none;
    color: #0A042A;
    margin-top: 5px;
}

#page-btn a {
    color: #1e164b;
    text-decoration: none;
}

#page-btn a:hover {
    background-color: #e92f00;
    color: #fff;
    text-decoration: none;
}

#btn-like {
    border: none;
    background: transparent;
}

#btn-like:hover,
#btn-like:active {
    background: transparent;
    border: none;
}