{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container-fluid pt-3 main-body">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 g-3 card border-dark">
                <div class="card-body">
                    <h2>Add a Comment</h2>
                    <hr>
                    <small><p>Your comment need to be approved before it shown. So don't worry if you cant see it at once!</p></small>
                    <hr>
                    <form action="{% url 'add-comment' post.pk %}" method="POST">
                        {% csrf_token %}
                        {{ comment_form }}  
                        <button type="submit" class="btn btn-outline-dark mt-2">Share Comment</button> 
                    </form>
                </div>
            </div>   
        </div> 
    </div>

    {% else %}

    <div class="container-fluid pt-3 main-body">
        <div class="row g-0">
            <div class="card col-md-8 offset-md-2 shadow-sm p-3 mb-5 bg-body border-dark rounded">
                <div class="card-body">
                    <h4 class="card-title">Ooops...</h4>
                    <p class="card-text">We are sorry, but you need to be logged in to leave a comment on a post!</p>
                </div>
                <div class="text-center pt-2">
                    <a href="{% url 'home' %}" class="btn btn-dark">Back to Home</a>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <script>
        var name = '{{ user.id }}';
        document.getElementById('user-id').value = name;
    </script>

{% endblock %}