{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A forum where poeple can discuss music with eachother">
    <meta name="keywords" content="Forum, music, share, connect">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Font Awsome Link-->
    <script src="https://kit.fontawesome.com/a1bd5fe01f.js" crossorigin="anonymous"></script>

    <!-- TinyMCE script-->
    <script src="https://cdn.tiny.cloud/1/czpfitxtftdn1ly3oh77xoqg1y8m4uob7grcc1kumtp6tri8/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Custom CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Favicon -->
    <link rel="icon" sizes="192x192" href="https://res.cloudinary.com/elistr/image/upload/v1645869650/COSMOS_kqa7p5.png">

    <title>Cosmos</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Header with navbar -->
    <header>
      <!-- Main navbar -->
      <div>
        <nav class="navbar navbar-expand-md navbar-expand-sm navbar-light" id="main-nav">
          <div class="container-fluid">
            <a class="navbar-brand logo" href="{% url 'home' %}">COSMOS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAuth" aria-controls="navbarAuth" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarAuth">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'home' %}" aria-label="Link to Home page(Open in the same tab)">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link text-dark" href="{% url 'add-post' %}" aria-label="Link to Add Post (Open in the same tab)">Add Post</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Link to Log Out (Open in the same tab)">Log Out</a>
                </li>
                {% else %}
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}" aria-label="Link to Log In (Open in the same tab)">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_signup' %}" aria-label="Link to Sign Up (Open in the same tab)">Sign Up</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div>
        <!-- Post Category navbar -->
        <nav class="navbar navbar-expand-md navbar-expand-sm mb-4 mt-0 border-bottom border-top border-dark" id="category-nav">
          <div class="container-fluid">
            <button class="navbar-toggler border border-dark text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCategories" aria-controls="navbarCategories" aria-expanded="false" aria-label="Toggle navigation">
              Categories
            </button>
            <div class="collapse navbar-collapse" id="navbarCategories">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 offset-md-3">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Music Categories
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Afron" aria-label="Category link to Afro(Open in the same tab)">Afro</a></li>
                    <li><a class="dropdown-item" href="{% url 'category'%}?category=Blues" aria-label="Category link to Blues(Open in the same tab)">Blues</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Christmas" aria-label="Category link to Christmas (Open in the same tab)">Christmas</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Classic" aria-label="Category link to Classic(Open in the same tab)">Classic</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Country" aria-label="Category link to Country(Open in the same tab)">Country</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Disco" aria-label="Category link to Disco(Open in the same tab)">Disco</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=EDM" aria-label="Category link to EDM (Open in the same tab)">EDM</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Folk" aria-label="Category link to Folk(Open in the same tab)">Folk</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Funk" aria-label="Category link to Funk(Open in the same tab)">Funk</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=HipHop" aria-label="Category link to HipHop (Open in the same tab)">HipHop</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Indie" aria-label="Category link to Indie(Open in the same tab)">Indie</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Jazz" aria-label="Category link to Jazz(Open in the same tab)">Jazz</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=K-Pop" aria-label="Category link to K-Pop(Open in the same tab)">K-Pop</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Latino" aria-label="Category link to Latino(Open in the same tab)">Latino</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Metal" aria-label="Category link to Metal(Open in the same tab)">Metal</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Pop" aria-label="Category link to Pop(Open in the same tab)">Pop</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Punk" aria-label="Category link to Punk(Open in the same tab)">Punk</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Rap" aria-label="Category link to Rap(Open in the same tab)">Rap</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Reggae" aria-label="Category link to REggae(Open in the same tab)">Reggae</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=RnB" aria-label="Category link to RnB (Open in the same tab)">RnB</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Rock" aria-label="Category link to Rock (Open in the same tab)">Rock</a></li>
                    <li><a class="dropdown-item" href="{% url 'category' %}?category=Soul" aria-label="Category link to Soul (Open in the same tab)">Soul</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category' %}?category=New_Releases" aria-label="Category link to New Releases (Open in the same tab)">New Releases</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category' %}?category=Album_Review" aria-label="Category link to Album Review(Open in the same tab)">Album Reviews</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category' %}?category=Music_Video" aria-label="Category link to Music Video(Open in the same tab)">Music Video</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'popular_post' %}" aria-label="Category link to Most Popular Post (Open in the same tab)">Most Popular Post</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main class="flex-shrink-0">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="text-center border-top mt-4">
        <div class="container pt-4">
          <div class="mb-4">
            <p class="text-white">Ways to reach Us: </p>
            <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.spotify.com/" target="_blank" rel="noopener" aria-label="Visit our Spotify (open in new tab)"><i class="fab fa-spotify"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Visit our Facebook (open in new tab)"><i class="fab fa-facebook"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter (open in new tab)"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram (open in new tab)"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://soundcloud.com/" target="_blank" rel="noopener" aria-label="Visit our Soundcloud (open in new tab)"><i class="fab fa-soundcloud"></i></a>
            <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our YouTube (open in new tab)"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
          <div class="text-center my-3 pt-3 border-top border-white">
            <a class="navbar-brand logo text-white" href="{% url 'home' %}">COSMOS</a>
          </div>
    </footer>

    <!-- TinyMCE script -->
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
      });
    </script>  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>