{% extends "base.html" %}

{% block content %}

{% if category_post %}

<div class="container-fluid pt-3 main-body">
    <div class="row g-0">
        <!--<h2 class="border-bottom border-dark">{{ category_post }}</h2>-->
        {% for post in category_post %}
        <div class="card col-md-10 col-sm-10 mb-3 mt-3 offset-md-1 offset-sm-1 border-dark" id="post-body">
            <div class="row g-0">
                <div class="col-md-4 col-sm-5">
                    {% if "placeholder" in post.image.url %}
                    <a href="{% url 'post-detail' post.pk %}" aria-label="Link to the post through image (Open in the same tab)">
                        <img src="https://res.cloudinary.com/elistr/image/upload/v1645004389/24_nboztu.png" class="card-img rounded-start" alt="Images of text logo with a background of space">
                    </a>
                    {% else %}
                    <a href="{% url 'post-detail' post.pk %}" aria-label="Link to the post through image (Open in the same tab)">
                        <img src="{{ post.image.url }}" alt="" width="100%" class="card-img rounded-start">
                    </a>
                    {% endif %} 
                </div>
                <div class="col-md-8 col-sm-7">
                    <div class="card-body g-0">
                        <div class="row g-0">
                            <div class="col">
                                <small class="text-muted">{{ post.category }}</small></p>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <h5 class="card-title"><a href="{% url 'post-detail' post.pk %}" class="post-title" aria-label="Link to the post (Open in the same tab)">{{ post.title }}</a></h5>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col pe-2">
                                <p class="card-text">{{ post.content|truncatewords:"50"|safe }}</p>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <p class="card-text"><small class="text-muted">By: {{ post.author }} -
                                {{ post.created_on}} </small></p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}

<div class="container-fluid pt-3 main-body">
    <div class="row g-0">
        <div class="card col-md-8 offset-md-2 shadow-sm p-3 mb-5 bg-body border-dark rounded">
            <div class="card-body">
                <h4 class="card-title">Ooops...</h4>
                <p class="card-text">We are sorry, but there are only silence here... But you could be the first one to make som noise!
                    <a href="{% url 'account_login' %}" class="text-muted" aria-label="Link to Log in page (Open in the same tab)">Log in here</a> 
                    if your are not already, be the one to add an entery:
                    <a href="{% url 'add-post' %}" class="text-muted" aria-label="Link to Add post page(Open in the same tab)">Here,</a>
                    if you are a member OR become one
                    <a href="{% url 'account_signup' %}" class="text-muted" aria-label="Link to Sign Up page (Open in the same tab)">Here</a>!
                </p>
            </div>
            <div class="text-center pt-2">
                <a href="{% url 'home' %}" class="btn btn-dark" aria-label="Link to Home page (Open in the same tab)">Back to Home</a>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}