{% extends "base.html" %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <div class="container-fluid pt-3 main-body">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 g-3 card border-dark">
                <div class="card-body">
                    <h2>Edit Post</h2>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}  
                        <button type="submit" class="btn btn-outline-dark" name="update">Update</button> 
                    </form>
                </div>
            </div>   
        </div> 
    </div>
    {% else %}
    <div class="container-fluid">
        <div class="row g-0">
            <div class="card col-md-8 offset-md-2 shadow-sm p-3 mb-5 bg-body border-dark rounded">
                <div class="card-body">
                    <h4 class="card-title">Ooops...</h4>
                    <p class="card-text">We are sorry, but you are not the author of this post and can therefore not edit it</p>
                </div>
                <div class="text-center pt-2">
                    <a href="{% url 'home' %}" class="btn btn-dark" aria-label="Link to Home page (Open in the same tab)">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% else %}

<div class="container-fluid pt-3 main-body">
    <div class="row g-0">
        <div class="card col-md-8 offset-md-2 shadow-sm p-3 mb-5 bg-body rounded border-dark">
            <div class="card-body">
                <h4 class="card-title">Ooops...</h4>
                <p class="card-text">We are sorry, but you need to be logged in to edit a post!</p>
            </div>
            <div class="text-center pt-2">
                <a href="{% url 'home' %}" class="btn btn-dark" aria-label="Link to Home page (Open in the same tab)">Back to Home</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

<script src="{% static 'js/script.js' %}"></script>
<script>
    var name = '{{ user.id }}';
    document.getElementById('author-id').value = name;
</script>

{% endblock %}