{% extends "base.html" %}

{% block content %}

<div class="container-fluid pt-3 main-body">
    <div class="row g-0">
        <!-- Heroimage -->
        <div class="card col-md-10 col-sm-10 mb-4 offset-md-1 offset-sm-1 border-0 detail-body">
            <img id="hero-image" src="https://res.cloudinary.com/elistr/image/upload/v1646049583/Namnl%C3%B6s_design_n3pp3v.png" alt="Images of text logo with a background of space">
        </div>
        <!-- Blog Entries Column -->
        {% for post in post %}
        <div class="card col-md-10 col-sm-10 mb-3 mt-3 offset-md-1 offset-sm-1 border-dark">
            <div class="row g-0">
                <div class="col-md-4 col-sm-5">
                    {% if "placeholder" in post.image.url %}
                    <a href="{% url 'post-detail' post.pk %}" aria-label="A link to the post through the post image (Open in the same tab)">
                        <img src="https://res.cloudinary.com/elistr/image/upload/v1645004389/24_nboztu.png" class="card-img rounded-start" alt="Images of text logo with a background of space">
                    </a>
                    {% else %}
                    <a href="{% url 'post-detail' post.pk %}" aria-label="A link to the post through the post image (Open in the same tab)">
                        <img src="{{ post.image.url }}" alt="Users own choice of image" class="card-img rounded-start">
                    </a>
                    {% endif %} 
                </div>
                <div class="col-md-8 col-sm-7">
                    <div class="card-body g-0">
                        <div class="row">
                            <div class="col-md-2 col-sm-4">
                                <strong>
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'post_like' post.pk %}" method="POST" name="likeForm">
                                        {% csrf_token %}
                                        {% if liked %}
                                        <button type="submit" value="{{post.pk}}" id="btn-like">
                                            <i class="fas fa-heart"></i> 
                                        </button>
                                        {% else %}
                                        <button type="submit" value="{{post.pk}}" id="btn-like">
                                            <i class="far fa-heart"></i> 
                                        </button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <span><i class="far fa-heart"></i> </span>
                                    {% endif %}
                                    <span>{{ post.number_of_likes }} </span>
                                </strong>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                {% with comments.count as total_comments %}
                                <strong><i class="far fa-comments"></i>
                                    <span>{{ total_comments }}</span>
                                </strong>
                                {% endwith %}
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <strong class="d-inline"><span><i class="far fa-album-collection"></i></span>
                                    <small>{{ post.category }}</small>
                                </strong>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <h2 class="card-title"><a href="{% url 'post-detail' post.pk %}" class="post-title">{{ post.title }}</a></h2>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <div class="card-text">{{ post.content|truncatewords:"50"|safe }}</div>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <p class="card-text"><small class="text-muted">By: {{ post.author }} -
                                {{ post.created_on}} </small></p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}