{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <ul>
        {% for post in post_list %}
            <li>
                <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a>
                <hr>
                By: {{ post.author }} - 
                <a href="{% url 'edit-post' post.pk %}">Edit</a>
                <a href="{% url 'delete-post' post.pk %}">Delete</a>
                <hr>
                {{ post.content }}
            </li>
        {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}