{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row g-0">
        <!-- Blog Entries Column -->
        {% for post in post_list %}
        <div class="card col-md-10 col-sm-10 mb-3 offset-md-1 offset-sm-1" id="post-body">
            <div class="row g-0">
                <div class="col-md-2 col-sm-3">
                    {% if "placeholder" in post.image.url %}
                    <a href="{% url 'post-detail' post.pk %}">
                        <img src="https://res.cloudinary.com/elistr/image/upload/v1645004389/24_nboztu.png" class="img-fluid rounded-start" alt="Images of text logo with a background of space">
                    </a>
                    {% else %}
                    <a href="{% url 'post-detail' post.pk %}">
                        <img src="{{ post.image.url }}" alt="" width="100%">
                    </a>
                    {% endif %} 
                </div>
                <div class="col-md-10 col-sm-9">
                    <div class="card-body">
                        <a href="{% url 'category' post.category %}" class="nav-link p-0"><p class="card-text"><small class="text-muted">{{ post.category }}</small></p></a>
                        <h5 class="card-title"><a href="{% url 'post-detail' post.pk %}" class="post-title">{{ post.title }}</a></h5>
                        <p class="card-text">{{ post.content|safe }}</p>
                        <p class="card-text"><small class="text-muted">By: {{ post.author }} -
                        {{ post.created_on}} </small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- To set pagination, most part of this code is from the I think therefore I blog project-->
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-evenly" id="page-btn">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link previous rounded-1">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    BACK
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link next rounded-1">NEXT
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}