{% extends "base.html" %}

{% block content %}
<div class="container-fluid pt-3 main-body">
    <div class="row g-0">
        <h2 class="border-bottom border-dark">Most Popular Posts:</h2>
        {% for post in post_list %}
        <div class="card col-md-10 col-sm-12 mb-3 mt-3 offset-md-1 border-dark">
            <div class="row g-0">
                <div class="col-md-4 col-sm-5">
                    {% if "placeholder" in post.image.url %}
                    <a href="{% url 'post-detail' post.pk %}" aria-label="Link to the post through image (Open in the same tab)">
                        <img src="https://res.cloudinary.com/elistr/image/upload/v1645004389/24_nboztu.png" class="img-fluid rounded-start" alt="Images of text logo with a background of space">
                    </a>
                    {% else %}
                    <a href="{% url 'post-detail' post.pk %}" aria-label="Link to the post through imageb(Open in the same tab)">
                        <img src="{{ post.image.url }}" alt="Users own choice of image">
                    </a>
                    {% endif %} 
                </div>
                <div class="col-md-8 col-sm-7">
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col-md-2">
                                {% if liked %}
                                <button type="submit" value="{{post.pk}}" id="btn-like">
                                    <i class="fas fa-heart"></i> 
                                </button>
                                {% endif %}
                                <span><i class="fas fa-heart"></i></span>
                                <span>{{ post.number_of_likes }}</span>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text"><small class="text-muted">{{ post.category }}</small></p>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <h5 class="card-title"><a href="{% url 'post-detail' post.pk %}" class="post-title">{{ post.title }}</a></h5>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <div class="card-text">{{ post.content|truncatewords:"50"|safe }}</div>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col">
                                <p class="card-text"><small class="text-muted">By: {{ post.author }} -
                                {{ post.created_on}} </small></p>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:15 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-evenly" id="page-btn">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link previous rounded-1" aria-label="Link to the previous page (Open in the same tab)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    BACK
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link next rounded-1" aria-label="Link to next page (Open in the same tab)">NEXT
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}