{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Detail blog post -->
        <div class="col-sm-8">
            <h1>{{ post.title }}</h1>
            <p>By: {{ post.author }}</p>
            <hr>
            <div>{{ post.content }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <a class="btn btn-outline-dark btn-sm" href="{% url 'home' %}" role="button">Back</a>
            </div>
            <div class="col-4">
                <a class="btn btn-outline-dark btn-sm" href="{% url 'edit-post' post.pk %}" role="button">Edit</a>
            </div>
            <div class="col-4">
                <a class="btn btn-outline-dark btn-sm" href="{% url 'delete-post' post.pk %}" role="button">Delet</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}