{% extends "base.html" %}

{% block content %}

<!-- Detail blog post -->
<div class="container">
    <!-- The row with created on information -->
    <div class="row">
        <div class="col gx-0">
            <p class="card padd-round">
                {{ post.created_on}}
            </p>
        </div>
    </div>

    <!-- The section with image and information about the author -->
    <div class="row">
        <div class="col-md-3 card">
            <p class="padd-round">By: {{ post.author }}</p>
            {% if "placeholder" in post.image.url %}
            <img src="https://res.cloudinary.com/elistr/image/upload/v1645004389/24_nboztu.png" class="img-fluid rounded-start" alt="Images of text logo with a background of space">
            {% else %}
                <img src="{{ post.image.url }}" alt="" width="100%">
            {% endif %}
            {% if user.is_authenticated %}
            <p id="crud-btn">
                <a href="{% url 'edit-post' post.pk %}" role="button">Edit</a>
                <a href="{% url 'delete-post' post.pk %}" role="button">Delet</a>
            </p>
            {% endif %}
            <p>
                <a class="btn btn-outline-dark btn-sm offset-md-4" href="{% url 'home' %}" role="button">Back</a>
            </p>
        </div>

        <!-- Section with the title of the post -->
        <div class="col-md-9 gx-3">
            <div class="row">
                <div class="col" id="title-post">
                    <h3>{{ post.title }}</h3>
                </div>
            </div>

            <!-- This div-section with likes comes from the walkthrought project I think therefore I blog -->
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <strong class="text-white"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                </div>
                <div class="col-md-2 col-sm-3">
                    {% with comments.count as total_comments %}
                    <strong class="text-white"><i class="far fa-comments"></i>
                        {{ total_comments }}</strong>
                    {% endwith %}
                </div>
                <div class="col-md-2 col-sm-3">
                    <strong class="text-white"><i class="far fa-album-collection"></i></strong>
                    <small class="text-white">{{ post.category }}</small>
                </div>
            </div>

            <!-- The Section of post content and a linebreak -->
            <div class="card">
                <p>{{ post.content|safe }}</p>
            </div>
            <div class="col">
                <br>
            </div>

            <!-- Comment section -->
            <div class="container card g-0">
                <div class="row g-0">
                    <div class="col-md-7 card">
                        <h5>Conversation:</h5>
                        <div class="col">
                            <p>here you will see comments</p>
                        </div>
                    </div>
                    <div class="col-md-5 card">
                        <h5>Join in:</h5>
                        <div class="col">
                            <p>here you will create a comment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
  </div>

{% endblock %}